
@font-face {
    font-family: 'pf_din_text_comp_probold';
    src: url('pfdintextcomppro-bold-webfont.eot');
    src: url('pfdintextcomppro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextcomppro-bold-webfont.woff') format('woff'),
         url('pfdintextcomppro-bold-webfont.ttf') format('truetype'),
         url('pfdintextcomppro-bold-webfont.svg#pf_din_text_comp_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #8B959E;
  text-align: center;
}

#header {
  font-size: 120px;
  font-family: 'pf_din_text_comp_probold';
  /*font-family: PFDinTextCompPro-Bold;*/
}

/*p {
  font-family: linowrite;
  font-size: 20px;
}*/


